<!-- categories.ejs -->
<div class="container text-black">
    <h1 class="text-white pd">Categories</h1>
    <div class="row">
        <% categories.forEach(function(category) { %>
            
            <div class="col-md-3 mb-3">
                <a href="/category/<%= category.id %>" class="explore-card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.name %></h5>
                        <p class="card-text"><%= category.description %></p>
                        <!-- Add more category details here -->
                    </div>
                </div>
            </a>
            </div>
        
        <% }); %>
    </div>
</div>
