<div class="py-5" style="flex-grow: 0;">
    <div class="container">
        <h1 class="display-4">Explore Stunning Photos</h1>
        <p class="lead">Discover amazing photography from around the world.</p>
        <form class="d-flex flex-grow-1 mx-2 my-4" action="/search" method="GET">
            <input class="form-control rounded-pill me-2" type="search" name="query" placeholder="Search high-resolution images" aria-label="Search">
            <button class="btn btn-light rounded-pill" type="submit">Search</button>
        </form>
        <div>
            <% categories.forEach(function(category) { %>
                <a href="/category/<%= category._id %>" class="btn btn-outline-light btn-sm mx-1"><%= category.name %></a>
            <% }); %>
        </div>
        <div class="mt-4">
            <p>Join our community to share your photos and stories.</p>
        </div>
    </div>
</div>
