<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p>&copy; 2024 MyPhotoGallery. All rights reserved.</p>
        <p>Follow us on 
            <a href="#">Instagram</a>, 
            <a href="#">Twitter</a>, 
            <a href="#">Facebook</a>
        </p>
    </div>
</footer>