/* Custom styles for the navbar */
.navbar {
    background-color: #f8f9fa !important;
    
}

.navbar-brand {
    font-size: 1.5rem;
    color: #007bff !important;
}

.nav-link {
    color: #555 !important;
}

.nav-link:hover {
    color: #007bff !important;
}

.nav-link.disabled {
    color: #6c757d !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    position: relative;
    max-width: 250px; /* Adjust if needed */
}

.grid-item img {
    width: 100%; /* Adjust image width relative to grid-item */
    height: auto;
    display: block;
}

.row{
    position: relative;
}

footer {
    clear: both; /* Clears the floating elements above, ensuring footer stays at the bottom */
   
}

.img-fluid {
    width: 100%; 
    height: auto; 
}

.masonry-item {
            margin-bottom: 1em;
        }
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.pagination a {
    margin: 0 0.5em;
    text-decoration: none;
}