<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0; padding-bottom: 0; margin-top: 8px; margin-bottom: 8px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">
        <img src="/path/to/your/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        MyPhotoGallery
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
          </li>
          
          <% if (user && user.role === 'admin') { %>
            
            <li class="nav-item"><a class="nav-link" href="/addcategory">Add a category</a></li>
            <% } %> <% if (user) { %>
              <li class="nav-item"><a class="nav-link" href="/upload">upload</a></li>
            <li class="nav-item"><a class="nav-link">Welcome, <%= user.username %></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          <% } else { %> 
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% } %>
          
        </ul>

      </div>
    </div>
  </nav>
  